<%- include("./partials/header.ejs") %>

<div class="container">
<div class="tbl mt-5">
    <div class="navbar p-0" id="navbarSupportedContent">
        <h5 class="my-2 h5 form-inline">Recent Check In's</h5>
    <form class="form-inline my-2 my-lg-2 float-right" action="/control/search" method="GET">
        <input type="date" class="form-control mx-2" name="date1" id="date1" aria-label="Search">
        <h2 class="mx-2 b">-</h2>
        <input type="date" class="form-control mx-2" name="date2" id="date2" aria-label="Search" value="<%= new Date().toDateInputValue(); %>">
        <input class="form-control mx-sm-2 mx-2" type="search" placeholder="Username/status/etc.." aria-label="Search" name="term">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      </div>
 <table class="table border">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% attends.sort((a, b) => {return b.date - a.date}) %>
        <% attends.forEach((attend) => { %>         
            <tr>
                <td><%= attend.username %></td>
                <td><%= attend.date %></td>
                <td><%= attend.start %></td>
                <td><%= attend.end %></td>
                <td><a href="/update/<%= attend._id %>">Edit</a></td>
            </tr>

        <%})%>
    </tbody>
 </table>
 <h5 class="form-inline h5 mb-3">Recent Absence Notifications</h5>
 <table class="table border">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Absent for</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% leaves.sort((a, b) => {return b.date - a.date}) %>
        <% leaves.forEach((leave) => { %>         
            <tr>
                <td><%= leave.username %></td>
                <td><%= leave.date %></td>
                <td><%= leave.absent %></td>
                <td><%= leave.reason %></td>
                <td><%= leave.status %></td>
                <td>
                    <a href="/leaveUpdate/<%= leave._id %>" class="d-block">Edit</a>
                    <a href="/leaveApprove/<%= leave._id %>" class="d-block text-success">Approve</a>
                    <a href="/leaveReject/<%= leave._id %>" class="d-block text-danger">Reject</a>
                </td>
            </tr>
        <%})%>
    </tbody>
 </table>
</div>
</div>

<%- include("./partials/footer.ejs") %>