<%- include("./partials/header") %>
<div class="container">
    <h5>Welcome. Please check in your attendance for today if you haven't done so yet.</h5>
    <h5>To do so, click <a href="/attendance">This</a> link.</h5>
<div class="tbl mt-5">
    <h5>Your recent Check In's:</h5>
 <table class="table border">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% attends.sort((a, b) => {return b.date - a.date}) %>
        <% attends.forEach((attend) => { %>         
            <tr>
                <td><%= attend.date %></td>
                <td><%= attend.start %></td>
                <td><%= attend.end %></td>
                <td><a href="/update/<%= attend._id %>">Edit</a></td>
            </tr>

        <%})%>
    </tbody>
 </table>
</div>
<div class="tbl mt-5">
    <h5>Your recent Absence Notifications:</h5>
 <table class="table border">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Absent for</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% leaves.sort((a, b) => {return b.date - a.date}) %>
        <% leaves.forEach((leave) => { %>         
            <tr>
                <td><%= leave.date %></td>
                <td><%= leave.absent %></td>
                <td><%= leave.reason %></td>
                <td><%= leave.status %></td>
                <td><a href="/leaveUpdate/<%= leave._id %>">Edit</a></td>
            </tr>
        <%})%>
    </tbody>
 </table>
</div>
</div>
<%- include("./partials/footer") %>