<%- include("./partials/header") %>
<div class="container">
    <h5>Welcome. Please check in your attendance for today if you haven't done so yet.</h5>
    <h5>To do so, click <a href="/attendance">This</a> link.</h5>
<div class="tbl mt-5">
    <h5>Your recent Check In's:</h5>
 <table class="table border">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% attends.sort((a, b) => {return b.date - a.date}) %>
        <% attends.forEach((attend) => { %>         
            <tr>
                <td><%= attend.date %></td>
                <td><%= attend.start %></td>
                <td><%= attend.end %></td>
                <td><a href="/update/<%= attend._id %>">Edit</a></td>
            </tr>

        <%})%>
    </tbody>
 </table>
</div>
<div class="tbl mt-5">
    <h5>Your recent Absence Notifications:</h5>
 <table class="table border">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Absent</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% leaves.sort((a, b) => {return b.date - a.date}) %>
        <% leaves.forEach((leave) => { %>         
            <tr>
                <td><%= leave.date %></td>
                <td><%= leave.absent %></td>
                <td><%= leave.reason %></td>
                <td><%= leave.status %></td>
                <td><a href="/leaveUpdate/<%= leave._id %>">Edit</a></td>
            </tr>
        <%})%>
    </tbody>
 </table>
 <h3 class="mt-5" id="infoText">About DUDE</h3>
 <p>With DUDE-project you can utilize your digital skills at your own pace and learn new skills. DUDE is an environment where each and everyone is supported on their way to graduation and work-life experiences. If you are unemployed or late in your studies, you can find your way to further your studies and find the ways to carry on with your professional career. In DUDE-environment you perform tasks given by companies in Central-Ostrobothnia; you get to show off your skills. IT-experts and life skill specialists help you on every step of the way!
    <br><br>
    DUDE is available for young unemployed people and students, who want to utilize their digi-skills.</p>
</div>
</div>
<%- include("./partials/footer") %>