<%- include("./partials/header") %>
<div class="container">
    <h5>Welcome. Please check in your attendance for today if you haven't done so yet.</h5>
    <h5>To do so, click <a href="/attendance">This</a> link.</h5>
<div class="tbl mt-5">
    <h5>Your recent Check In's:</h5>
 <table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
        </tr>
    </thead>
    <tbody>
        <% attends.sort((a, b) => {return b.date - a.date}) %>
        <% attends.forEach((attend) => { %>         
            <tr>
                <td><%= attend.date %></td>
                <td><%= attend.start %></td>
                <td><%= attend.end %></td>
            </tr>

        <%})%>
    </tbody>
 </table>
</div>
</div>
<%- include("./partials/footer") %>