<%- include("./partials/header") %>
<div class="container">
    <h2>Update</h2>
    <form action="/leaveUpdate/<%= leave._id %>?_method=PUT" method="POST" class="border p-2">
        <div class="form-group">
            <label for="date">Date:</label>
            <input class="form-control" type="date" name="date" id="date" value="<%= new Date().toDateInputValue(); %>" required>
        </div>
        <div class="form-group">
            <h5>Absent for:</h5>
            <label for="start">Start Time:</label>
            <input class="form-control" type="time" name="start" id="start">
        </div>
        <div class="form-group">
            <label for="end">End Time:</label>
            <input class="form-control" type="time" name="end" id="end">
        </div>
        <div class="form-group">
            <label for="whole">Whole Day:</label>
            <input type="checkbox" name="whole" id="whole" value="Whole Day">
        </div>
        <div class="form-group">
            <label for="reason">Reason for Absence:</label>
            <textarea id="reason" class="form-control" name="reason" rows="4" cols="50" required><%= leave.reason %></textarea>
        </div>
        <input type="hidden" name="userId" value="<%= user.id %>">
        <input type="hidden" name="username" value="<%= user.username %>">
        <input type="hidden" name="status" value="<%= leave.status %>">
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</div>
<%- include("./partials/footer") %>