<%- include("./partials/header") %>
<div class="container">
    <h2>Update</h2>
    <form action="/update/<%= attend._id %>?_method=PUT" method="POST" class="border p-2">
        <div class="form-group">
            <label for="start">Start Time:</label>
            <input class="form-control" type="time" name="start" id="start" value="<%= attend.start %>" required>
        </div>
        <div class="form-group">
            <label for="end">End Time:</label>
            <input class="form-control" type="time" name="end" id="end" value="<%= attend.end %>">
        </div>
        <input type="hidden" name="userId" value="<%= user.id %>">
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</div>
<%- include("./partials/footer") %>